#hello{
  text-align:center;
  color:white;
}

.copy_right_footer{
  position: fixed;
  color:rgb(27, 238, 87);
  bottom:0;
  width: 100%;
  background-color: grey;
  line-height: 3;
  text-align:center;
}
